# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
*/__pycache__

# Environment variables (Never commit these!)
.env
.env.local

# OS files
.DS_Store

# Machine Learning (Don't commit heavy weights or inputs)
backend/ml_engine/models/
backend/input/
backend/output/
backend/static/
*.pth