
node_modules/
backend/venv/
__pycache__/
*.py[cod]
*$py.class

.env
.env.local

docker-compose.override.yml

.DS_Store

backend/ml_engine/models/
backend/ml_engine/input/
backend/ml_engine/output/
backend/static/
*.pth

*.db
*.sqlite3