boto3==1.42.58
celery==5.6.2
fastapi==0.134.0
numpy==2.4.2
Pillow==12.1.1
pwdlib==0.3.0
pydantic==2.12.5
email-validator==2.3.0
pydantic_settings==2.13.1
PyJWT==2.11.0
python-dotenv==1.2.1
Requests==2.32.5
sqlmodel==0.0.37
tensorflow==2.20.0
tensorflow_hub==0.16.1

uvicorn==0.40.0
psycopg2-binary==2.9.9
python-multipart==0.0.22
argon2-cffi==25.1.0
redis==6.4.0